apiVersion: apps/v1
kind: Deployment
metadata:
  name: cubejs
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cubejs
  template:
    metadata:
      labels:
        app: cubejs
    spec:
      containers:
      - name: cubejs
        image: "{{ .Values.image.repository }}-cubejs:{{ .Values.image.tag | default .Chart.AppVersion }}"
        resources:
          {{- toYaml .Values.resources.default | nindent 12 }}
        ports:
        - containerPort: 4000
        env:
          - name: CUBEJS_DB_TYPE
            valueFrom:
              secretKeyRef:
                name: cm-backend-secrets
                key: CUBEJS_DB_TYPE
          - name: CUBEJS_DB_HOST
            valueFrom:
              secretKeyRef:
                name: cm-backend-secrets
                key: CUBEJS_DB_HOST
          - name: CUBEJS_DB_PORT
            valueFrom:
              secretKeyRef:
                name: cm-backend-secrets
                key: CUBEJS_DB_PORT
          - name: CUBEJS_DB_NAME
            valueFrom:
              secretKeyRef:
                name: cm-backend-secrets
                key: CUBEJS_DB_NAME
          - name: CUBEJS_DB_USER
            valueFrom:
              secretKeyRef:
                name: cm-backend-secrets
                key: CUBEJS_DB_USER
          - name: CUBEJS_DB_PASS
            valueFrom:
              secretKeyRef:
                name: cm-backend-secrets
                key: CUBEJS_DB_PASS
          - name: CUBEJS_DB_SSL
            value: "true"
          - name: CUBEJS_API_SECRET
            valueFrom:
              secretKeyRef:
                name: cm-backend-secrets
                key: CUBEJS_API_SECRET
          - name: CUBEJS_DEV_MODE
            value: "true"
          - name: CUBEJS_EXTERNAL_DEFAULT
            value: "true"
          - name: CUBEJS_SCHEDULED_REFRESH_DEFAULT
            value: "false"
          - name: CUBEJS_API_URL
            valueFrom:
              secretKeyRef:
                name: cm-backend-secrets
                key: CUBEJS_API_URL
          - name: CUBEJS_LOG_LEVEL
            valueFrom:
              secretKeyRef:
                name: cm-backend-secrets
                key: CUBEJS_LOG_LEVEL
          - name: CUBEJS_CONCURRENCY
            valueFrom:
              secretKeyRef:
                name: cm-backend-secrets
                key: CUBEJS_CONCURRENCY
          - name: AZURE_OPENAI_ENDPOINT
            valueFrom:
              secretKeyRef:
                name: cm-backend-secrets
                key: AZURE_OPENAI_ENDPOINT
          - name: AZURE_OPENAI_KEY
            valueFrom:
              secretKeyRef:
                name: cm-backend-secrets
                key: AZURE_OPENAI_KEY
          - name: AZURE_DEPLOYMENT_NAME
            valueFrom:
              secretKeyRef:
                name: cm-backend-secrets
                key: AZURE_DEPLOYMENT_NAME
          - name: AZURE_OPENAI_VERSION
            valueFrom:
              secretKeyRef:
                name: cm-backend-secrets
                key: AZURE_OPENAI_VERSION
